@{
    ViewBag.Title = "Home Page";
}

<div class="title-big">
    <img src="~/Img/cnc.png" style="width:100px;"/>
    Cassell's Networking Cafe
</div>

<div>
    <div id="foodorder" style="border:0px solid red;">

    </div>
</div>

<script src=""></script>